[Desktop Entry]
Comment=DataExplorer - explore your serial data
Comment[en_US]=DataExplorer - explore your serial data
Comment[de_DE]=DataExplorer - erforsche deine seriellen Daten
Encoding=UTF-8
Exec=java -Dfile.encoding=UTF-8 -jar -Xms40m -Xmx256m @OSDE_DIR@DataExplorer.jar %f
GenericName=DataExplorer
Icon=@OSDE_DIR@DataExplorer.xpm
MimeType=application/x-DataExplorer
Name=DataExplorer
Path=@OSDE_DIR@
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Utility;Application;